<head>

</head>
<body>

  <section>
    <header>
      <div class="nav-bar" onclick="">
        <i class="fa-solid fa-bars-staggered"></i>
      </div>
      <nav>
        <a href="#">Inicio</a>
        <a href="#">Sobre Mí</a>
        <a href="#">Habilidades</a>
        <a href="#">Experiencias</a>
        <a href="#">Contacto</a>
      </nav>
      <div class="info">
        <h1>Adrià Coma Perpiñà</h1>
        <h2>Developer</h2>
        <div class="redes">
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#"><i class="fa-brands fa-github"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
      </div>
      <div class="foto">
        <img src="/src/assets/img/yo.jpg" alt="foto Adrià">
      </div>
    </header>
  </section>
</body>

