<head>

</head>
<body>

  <section>
    <header>
      <div class="nav-bar" onclick="">
        <i class="fa-solid fa-bars-staggered"></i>
      </div>
      <nav>
        <a href="#">Inicio</a>
        <a href="#">Sobre Mí</a>
        <a href="#">Habilidades</a>
        <a href="#">Experiencias</a>
        <a href="#">Contacto</a>
      </nav>
      <div class="info">
        <h1>Adrià Coma Perpiñà</h1>
        <h2>Developer</h2>
        <div class="redes">
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#"><i class="fa-brands fa-github"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
      </div>
      <div class="foto">
        <img src="/src/assets/img/yo.jpg" alt="foto Adrià">
      </div>
    </header>
  </section>

  <!-- SECCION SOBRE MI -->
  <section class="sobremi" id="sobremi">
    <div class="contenido-seccion">
        <h2 class="titulo-seccion">Sobre Mi</h2>
        <h3>Detalles personales</h3>

        <p class="especial">Me dedico a producir ideas creativas y originales para mis clientes</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, nobis! Sit, veniam aut omnis est suscipit itaque tempore fugiat! Repellat, necessitatibus. Neque quis, reprehenderit fugit dolore voluptate nam eum reiciendis!</p>

        <div class="fila">
            <div class="col">
                <i class="fa-solid fa-user"></i>
                <span class="titulo-detalle">Perfil</span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, provident esse. Nesciunt quod eveniet dolorem necessitatibus iure, suscipit similique provident fugiat excepturi commodi</p>
            </div>
            <div class="col">
                <i class="fa-solid fa-location-pin"></i>
                <span class="titulo-detalle">Ubicación</span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, provident esse. Nesciunt quod eveniet dolorem necessitatibus iure, suscipit similique provident fugiat excepturi commodi</p>
            </div>
            <div class="col">
                <i class="fa-solid fa-flag"></i>
                <span class="titulo-detalle">Intereses</span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, provident esse. Nesciunt quod eveniet dolorem necessitatibus iure, suscipit similique provident fugiat excepturi commodi</p>
            </div>
        </div>
    </div>
</section>

<!-- SECCION CONTACTO -->
<section class="contacto" id="contacto">
  <div class="contenido-seccion">
      <h2 class="titulo-seccion">Contacto</h2>
      <h3>Ponte en contacto ahora mismo!</h3>

      <div class="fila">
          <div class="col">
              <h2>
                  <i class="fa-solid fa-phone"></i> Teléfono
              </h2>
              <span class="info-contacto">+34666777888</span>
          </div>
          <div class="col">
              <h2>
                  <i class="fa-solid fa-envelope"></i> Correo
              </h2>
              <span class="info-contacto">ejemplo@gmail.com</span>
          </div>
      </div>
  </div>
</section>
</body>

